.contentWrapper {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  text-align: left;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .contentWrapper {
    padding: 0 0.5em;
  }
}
