.introContainer {
    display: flex;
    /* width: 100vw; */
    flex-direction: column;
    text-align: left;
    /* align-items: center; */
}

.introInfo p, .introSources p {
    padding: 0.5em 0em;
}

.introHeader {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em 0em 0em 0em;
    border-bottom: 3px solid #a18cd1;
}

.checkIcon {
    fill: green;
}

.banIcon {
    fill: red;
}

.useCases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 1em 0em;
}

.useCase {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.disclaimer {
    font-size: 0.8em;
    padding: 0.5em 0em;
    font-style: italic;
}

.sourcesList {
    list-style-position: inside;
}

.sourcesList li:hover {
    cursor: pointer;
    color: #405cf5;
    text-decoration: underline;
}