.conversationContainer {
    width: 100%; /* Match the form's width */
    background-color: #e8f0fe; /* Light blue background for the conversation area */
    border-bottom: 2px solid black;
    padding: 1em;
    overflow-y: auto; /* Allow scrolling for overflow */
    max-height: 90%; /* Maximum height before scrolling */
    min-height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.messagesContainer {
    flex-grow: 1;
}

.promptHints {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.clearFloat {
    clear: both; /* Clear the float after each messageContainer div */
}

@media only screen and (max-width: 600px) {
    .conversationContainer {
        height:  90%;
    }
}