.conversationContainer {
    width: 70%; /* Match the form's width */
    background-color: #333; /* Light grey background for the conversation area */
    margin-bottom: 20px; /* Space between the conversation area and the form */
    padding: 1em;
    overflow-y: auto; /* Allow scrolling for overflow */
    max-height: 700px; /* Maximum height before scrolling */
    min-height: 700px;
    /* border-top: 3px solid #d52b1e;  */
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.clearFloat {
    clear: both; /* Clear the float after each messageContainer div */
}