.deploymentStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.statusIcon {
    margin-left: 0.5em;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}