.promptHint {
    border: 1px solid #e0e0e0;
    padding: 0.5em 1em;
    border-radius: 12px;
    background-color: white;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 2px 0px #d4d4d4;
}

.promptHint:hover {
    background-color: #f5f5f5;
}